<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="nofollow">
    <meta property="og:site_name" content="克里夫Web" />
    <meta property="og:image" content= "https://cliffweb.zeabur.app/jpg/icon/favicon.ico" />
    <link rel="icon" href="https://cliffweb.zeabur.app/jpg/icon/favicon.ico" type="image/x-icon" />
    <link  rel="stylesheet" href="../css/normalize.css">
    <link  rel="stylesheet" href="../../css/navbar-style.css">
    <link  rel="stylesheet" href="../../css/footer-style.css">
    <title>克里夫Web</title>
</head>
<body>
    {{> header/navbar}}
    {{{body}}}
    <script src="../../js/commonFunction.js"></script>
    {{> footer/footer}}
</body>
</html> 