<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <!-- Google Tag Manager -->
    <script nonce="{{nonce}}">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MVPKQKB8');</script>
    <!-- End Google Tag Manager -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EY9MXFBM5Y"></script>
    <script nonce="{{nonce}}">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-EY9MXFBM5Y');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="nofollow">
    <meta property="og:site_name" content="克里夫Web" />
    <meta property="og:image" content= "https://cliffweb.zeabur.app/jpg/icon/favicon.ico" />
    <link rel="icon" href="https://cliffweb.zeabur.app/jpg/icon/favicon.ico" type="image/x-icon" />
    <link  rel="stylesheet" href="../css/normalize.css">
    <link  rel="stylesheet" href="../../css/navbar-style.css">
    <link  rel="stylesheet" href="../../css/footer-style.css">
    <title>克里夫Web</title>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MVPKQKB8"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{> header/navbar}}
    {{{body}}}
    {{> footer/footer}}
    <script src="../../js/commonFunction.js"></script>
</body>
</html> 