<link rel="stylesheet" href="../css/noFound-style.css">

<div class="noFoundWrapper">
    <div class="noFoundBox">
        <div class="noFoundMainStyle">
            <div class="firstSectionStyle specTextFontStyle"><p>伺服器回應404</p></div>
            <div class="secondSectionStyle specMainTextFontStyle">
                <p>抱歉~找不到你要內容</p>
            </div>
            <div class="thirdSectionStyle"><p></p></div>
        </div>
    </div>
</div>