<link rel="stylesheet" href="../css/redirectUrl-style.css">

<div class="redirectUrlWrapper">
    <div class="redirectUrlBox">
        <div class="redirectUrlMainStyle">
            <div class="firstRowSectionStyle specTextFontStyle"><p>{{message}}</p></div>
            <div class="secondRowSectionStyle">
                <div id="counttime" class="specMainTextFontStyle"><p>{{count}}</p></div>
            </div>
            <div class="thirdSectionStyle"></div>
        </div>
    </div>
</div>





<script src="../js/redirectUrl.js"></script>