<link rel="stylesheet" href="../css/updatePassword-style.css">

<div class="updatePasswordWrapper">
    <div class="updatePasswordBox">
        <div class="updatePasswordMainStyle">
            <div class="specTextFontStyle"><p>重新設定密碼</p></div>
            <div class="labelStyle"><p>請輸入收信信箱</p></div>
            <div class="inputStyle"><input type="email" id="inputemail" placeholder="請輸入信箱" maxlength="50" value="" size="30" ></div>
            <hr>
            <div class="modElmPosition"> 
                <div><button type="submit" id="sendInfo"><p>驗證內容</p></button></div>
            </div>  
        </div>
        <div class="updatePasswordBannerStyle">

        </div>    
    </div>
</div>



<script src="../js/updatePasswordFunction.js"></script>