.adminindexWrapper{
    width: 100%;
    height: 2500px;
    position: relative;
}

.adminindexWrapper p{
    color:#fff;
    font-size:17px;
    padding: 0; /* 內邊距 */
    display: inline-block;
    margin: 5px  5px;
}


.adminindexBox{
    /* position 百分比的參考值是上一層元素*/
    /*元素沒有明確的上一層（例如父元素）考值將會是 整個瀏覽器視窗（即 viewport）*/
    border: 2px solid #000;
    width: 750px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    /* position 搭配 transform 的至中方式*/
    border-radius: 5px;
    /*變形屬性  百分比的參考值是自己
    transform: translate(100px,100px) scale(2);
    */
    box-shadow: 0 0 5px gray; /* 陰影效果 */
}

.setWidthFirstStyle{
    width: 187.5px;

}

.setWidthSecondStyle{
    width: 125px;
}

.modCenterElmPosition{
    width: 50%; /* 設定寬度 */
    margin: auto; /* 自動 margin 可以使 div 置中 */
}

.adminindexWrapper button{
    width: 200px; /* 寬度 */
    height: 40px; /* 寬度 */
    border:1px solid #000;
    background-color: #000; /* 背景顏色 */
    border-radius: 10px; /* 邊框圓角 */
    text-align:center; /* 內部內容致置中 */
    margin: 10px;
}

.adminindexWrapper button p{
    padding: 0; /* 內邊距 */
    margin: 0; /* 外邊距 */
}

.modMultiElmPosition{
    display: flex;
}


.specTextFontStyle {
    left:50%;
    text-align:center; /* 內部內容致置中 */
    background-color: #000;
}

.specTextFontStyle p{
    font-size: 25px;
}

.boxTitleFontStyle{
    text-align:center; /* 內部內容致置中 */
    background-color: #000;
}

.boxTextFontStyle{
    text-align:center; /* 內部內容致置中 */
    border: 1px solid #000;
}

.boxTextFontStyle p{
    color: #000;
}

.chartTitleFontStyle{
    text-align:center; /* 內部內容致置中 */
    background-color: #000;
}

.chartTitleFontStyle p{
    font-size: 20px;
}

.modSideNavElm{
    position: absolute;
    left: 0%;
    text-align:center; /* 內部內容致置中 */
    transform: translateY(150%);
    border: 0.5px solid #000;
}

.modCenterFontStyle{
    text-align:center; /* 控制內部元素的水平對齊，只有其所有直接子元素會受到影響，影響行內元素、行內塊元素、文字內容 */
}