<footer>
    <div class="footerWrapper">
        <div class="modFlexElmPosition ">
            <div class="modCenterElmPosition">
                <div class="bnt"><a href="https://cliffweb.zeabur.app/privacy_policy"><p>隱私條款</p></a></div>
            </div>
        </div>
    </div>
</footer>