<header>    
    <nav>
        <div class="navWrapper">
            <div class="firstNavSection"></div>
            <div class="secondNavSection">
                <div class="modCenterElmFonStyle setButtonWidthElm">
                    <a href="https://cliffweb.zeabur.app/category/goods_list?cid=A1000"><button><p>品項類別A</p></button></a>
                </div>
                <div class="modCenterElmFonStyle setButtonWidthElm">
                    <a href="https://cliffweb.zeabur.app/category/goods_list?cid=B2000"><button><p>品項類別B</p></button></a>
                </div>
                <div class="modCenterElmFonStyle setButtonWidthElm">
                    <a href="https://cliffweb.zeabur.app/category/goods_list?cid=C3000"><button><p>品項類別C</p></button></a>
                </div>
                <div class="modCenterElmFonStyle setButtonWidthElm">
                    <a href="https://cliffweb.zeabur.app/login/"><button><p>{{username}}</p></button></a>
                </div>
                <div class="modCenterElmFonStyle setButtonWidthElm">
                    <a href="https://cliffweb.zeabur.app/contact/"><button><p>意見反饋</p></button></a>
                </div>
                <div class="modCenterElmFonStyle setButtonWidthElm">
                    <span onclick="sendCartItem()"><button><p>購物車(<span id="userCart" ></span>)</p></button></span> 
                </div>
            </div>
            <div class="thirdNavSection">
                <div class="modMultiElmPosition setHeightElm">
                    <div class="modCenterElmFonStyle">
                        <form action="https://cliffweb.zeabur.app/search/" method="GET">
                            <input type="search" name="searchValue" placeholder="搜尋商品..." size="30">
                            <button type="submit"><p>搜尋商品</p></button>
                        </form>
                    </div>   
                </div>
            </div>
        </div>
    </nav>
</header>